@charset "UTF-8";
body {
  background-color: #191919;
  color: #fff;
  font-family: "Archivo", sans-serif;
}

::-moz-selection {
  color: #f27107 !important;
}

::selection {
  color: #f27107 !important;
}

@keyframes reduceBorder {
  from {
    width: 30%;
  }
  to {
    width: 0;
  }
}
@keyframes reduceBordermenu {
  from {
    width: 5%;
  }
  to {
    width: 0;
  }
}
@keyframes bringBackBorder {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes bringBackBordermenu {
  from {
    width: 0;
  }
  to {
    width: 5%;
  }
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

b {
  font-size: 1.5rem;
  font-weight: 700;
}

.orange {
  color: #f27107;
}

li {
  list-style: none;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 80%;
}

.text-orange {
  color: #f27107;
}

.text-grey {
  color: #e6e6e6;
}

.btn-orange {
  background-color: #f27107;
  color: #fff;
}
.btn-orange:hover {
  background-color: #fff;
  color: #f27107;
}

.border-bottom-line {
  border-bottom-color: #f27107 !important;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 3px solid;
}

.border-top-orange {
  border-top-color: #f27107 !important;
  border-top: 2px solid;
}

.logo-container {
  padding: 3rem 0;
}
.logo-container h2 {
  font-size: 30px;
  opacity: 0.5;
}

#loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 99999;
  overflow: hidden;
}
#loading-container .loading-position {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: #fff;
}
#loading-container h2 {
  font-size: 75px;
}
#loading-container #loading-line-container {
  margin-top: 25px;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}
#loading-container #loading-line {
  width: 0;
  height: 100%;
  background-color: #f27107;
  overflow: hidden;
  transition: width 2s ease-in-out;
}
#loading-container #loading-percentage {
  margin-top: 10px;
  font-size: 20px;
}

.btn-hamburger {
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.btn-hamburger span, .btn-hamburger span:before, .btn-hamburger span:after {
  position: absolute;
  width: 40px;
  height: 2px;
  background: white;
  border-radius: 4px;
  z-index: 9000;
}

.btn-hamburger span {
  top: calc(95% - 2px);
  left: calc(50% - 22px);
  transition: 0.3s;
  z-index: 9000;
}
.btn-hamburger span:before, .btn-hamburger span:after {
  content: "";
  left: 0;
  transition: 0.3s;
}
.btn-hamburger span:before {
  bottom: 12px;
}
.btn-hamburger span:after {
  top: 12px;
}

.menu-btn:hover span {
  transform: rotate(180deg);
}

.menu-btn:hover span:before {
  width: 50%;
  transform: translateX(-3px) translateY(5px) rotate(-45deg);
}

.menu-btn:hover span:after {
  width: 50%;
  transform: translateX(-3px) translateY(-5px) rotate(45deg);
}

.overlay {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 20000;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #000;
  display: block;
  transition: 0.3s;
  transition: color 0.2s ease;
}

.overlay-content {
  position: relative;
  background-color: #ccc;
  padding-top: 15%;
  width: 100% !important;
  width: 70%;
  padding-left: 10%;
  text-align: left;
}
.overlay-content .menu-hover {
  padding-bottom: 10px;
}
.overlay-content .menu-hover .border-animation {
  position: absolute;
  top: 60px;
  left: 160px;
  width: 5%;
  border-bottom: 3px solid #808080;
  transition: border-width 0.3s ease-in;
}
.overlay-content .menu-hover:hover .border-animation {
  animation: reduceBordermenu 0.3s ease-in forwards;
}
.overlay-content .menu-hover:not(:hover) .border-animation {
  animation: bringBackBordermenu 0.3s ease-in forwards; /* Added 'forwards' */
}
.overlay-content .closebtn {
  position: absolute !important;
  top: 20px !important;
  right: 5% !important;
  font-size: 60px !important;
  z-index: 1;
}
.overlay-content .link {
  display: inline-flex;
  align-items: center;
  padding: 2rem 0;
  padding-right: 15rem;
  text-decoration: none;
  transform: rotate(-180deg);
}
.overlay-content .link .divider {
  position: absolute;
  background: #ccc;
  transform: rotate(90deg);
  left: 180px;
  width: 16px;
  height: 264px;
  z-index: 9;
}
.overlay-content .link__arrow {
  display: inline-flex;
}
.overlay-content .link__arrow span {
  position: relative;
  width: 22px;
  height: 8px;
  border-radius: 2px;
  overflow: hidden;
  z-index: 2;
}
.overlay-content .link__arrow span:nth-child(1) {
  transform-origin: left bottom;
  transform: rotate(45deg) translate3d(8px, -10px, 0);
}
.overlay-content .link__arrow span:nth-child(2) {
  transform-origin: left bottom;
  transform: rotate(-45deg);
}
.overlay-content .link__arrow span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #f27107;
}
.overlay-content .link__line {
  position: relative;
  margin-left: -24px;
  margin-right: 0;
  width: 300px;
  height: 7px;
  overflow: hidden;
  z-index: 1;
}
.overlay-content .link__line:after {
  content: "";
  display: block;
  position: absolute;
  left: 80px;
  width: 220px;
  height: 3px;
  background: #f27107;
}
.overlay-content .link:hover .overlay-content .link__line:after {
  animation: animation-line 0.5s forwards;
}
.overlay-content .link:hover .overlay-content .link__arrow span:after {
  animation: animation-arrow 0.5s forwards;
  animation-delay: 0.5s;
}
.overlay-content .link:not(:hover) .overlay-content .link__line:after {
  animation: reverse-animation-line 1.5s forwards;
}
.overlay-content .link:not(:hover) .overlay-content .link__arrow span:after {
  animation: reverse-animation-arrow 1.5s forwards;
}

.overlay a:hover, .overlay a:focus {
  color: #594c53;
}

.image-logo {
  position: fixed;
  height: auto;
  width: 50%;
  text-align: center;
}
.image-logo img {
  width: 100%;
  height: auto;
}

.menu-btn {
  top: 15%;
  right: 1%;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 18px;
  cursor: pointer;
  z-index: 5000;
  height: 100%;
  background-color: transparent !important;
}
.menu-btn a {
  color: #e6e6e6;
  font-size: 18px;
}
.menu-btn a:hover {
  color: #e6e6e6;
}
.menu-btn .menu-link {
  position: absolute;
  bottom: 7%;
}

.sec-1 {
  position: relative;
  padding-top: 380px;
  padding-bottom: 100px;
  height: 100vh;
  min-height: 1200px;
  width: 100%;
}
.sec-1 h2 {
  font-size: 70px;
}
.sec-1 .line {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #f27107;
}
.sec-1 .right-section {
  width: 100%;
  position: relative;
}
.sec-1 .right-section p {
  position: absolute;
  width: 35%;
  right: 0;
}
.sec-1 .image-section {
  position: absolute;
  z-index: 1000;
  left: 50%;
  bottom: 190px;
  transform: translateX(-50%);
  width: 40%;
}
.sec-1 .image-section img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

.panel {
  text-align: center;
  position: fixed;
}

.panel h2 {
  margin: 0;
  font-size: 250px;
  color: #fff; /* White text color */
  transition: 1s; /* Add smooth transition */
}

.sec-2 h3 {
  font-size: 40px;
  position: relative;
  line-height: 1.3;
  color: #e6e6e6;
  font-weight: 400;
}
.sec-2 .f-size {
  font-size: 2.5vw;
}
.sec-2 .register-section-img {
  width: 100%;
  height: 35rem;
  overflow: hidden;
}
.sec-2 .register-section-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.industries-we-serve {
  position: relative;
}
.industries-we-serve .svg-position {
  position: absolute;
  width: 45%;
  height: 300px;
  top: 25%;
  left: 0;
  z-index: 2999;
  transition: 1s;
}
.industries-we-serve .svg-position::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.6);
  z-index: 1;
}
.industries-we-serve .industries-we-serve-hover {
  overflow: hidden;
}
.industries-we-serve .industries-we-serve-hover:hover .industries-we-serve-image img {
  opacity: 1 !important;
  transform: scale(1.1);
}
.industries-we-serve .industries-we-serve-hover .industries-we-serve-image {
  overflow: hidden;
  position: absolute;
  width: 45%;
  height: 300px;
  top: 25%;
  left: 0;
  transition: 1s;
}
.industries-we-serve .industries-we-serve-hover .industries-we-serve-image img {
  opacity: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.industries-we-serve .industries-we-serve-hover .industries-we-serve-content {
  z-index: 1999;
}
.industries-we-serve .industries-we-serve-hover .industries-we-serve-content .list-size {
  font-size: 18px;
  line-height: 1.5em;
}
.industries-we-serve .industries-we-serve-hover .industries-we-serve-content .text-hover {
  font-size: 35px;
  line-height: 1em;
}
.industries-we-serve .industries-we-serve-hover .industries-we-serve-content .text-hover:hover {
  color: #f27107;
}

.about-group {
  padding: 100px 0;
}
.about-group h4 {
  font-size: 25px;
}

.products .py-5 {
  padding-top: 3rem !important;
  padding-bottom: 12rem !important;
}
.products .products-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.products .products-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.6);
  z-index: 1;
}
.products .products-container:hover img {
  opacity: 1;
  transform: scale(1.1);
}
.products .products-container:hover .products-content p {
  opacity: 0;
}
.products .products-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: 0.5s;
}
.products .products-container .products-content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.products .products-container .products-content .text-position {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.products .products-container .products-content .arrow-position {
  position: absolute;
  right: 20%;
  bottom: 10%;
}
.products .products-container .products-content p {
  opacity: 1;
  transition: 0.5s ease;
}
.products .products-container .products-content .link {
  display: inline-flex;
  align-items: center;
  padding-left: 38px;
  padding-right: 350px;
  text-decoration: none;
  transform: rotate(-180deg);
}
.products .products-container .products-content .link .divider {
  position: absolute;
  background: #191919;
  transform: rotate(90deg);
  left: 131px;
  width: 16px;
  height: 55px;
  z-index: 9;
}
.products .products-container .products-content .link__arrow {
  display: inline-flex;
  margin-left: -97px;
  width: 208px;
}
.products .products-container .products-content .link__arrow span {
  position: relative;
  width: 38px;
  height: 19px;
  border-radius: 2px;
  overflow: hidden;
  z-index: 2;
}
.products .products-container .products-content .link__arrow span:nth-child(1) {
  transform-origin: left bottom;
  transform: rotate(45deg) translate3d(8px, -10px, 0);
}
.products .products-container .products-content .link__arrow span:nth-child(2) {
  transform-origin: left bottom;
  transform: rotate(-45deg);
}
.products .products-container .products-content .link__arrow span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #f27107;
}
.products .products-container .products-content .link__line {
  position: relative;
  margin-left: -180px;
  margin-right: 0;
  width: 200px;
  height: 9px;
  overflow: hidden;
  z-index: 1;
}
.products .products-container .products-content .link__line:after {
  content: "";
  display: block;
  position: absolute;
  left: 80px;
  width: 133px;
  height: 2px;
  background: #f27107;
}
.products .products-container .products-content .link:hover .products .products-container .products-content .link__line:after {
  animation: animation-line 1.5s forwards;
}
.products .products-container .products-content .link:hover .products .products-container .products-content .link__arrow span:after {
  animation: animation-arrow 1.5s forwards;
  animation-delay: 0.5s;
}
.products .products-container .products-content .link:not(:hover) .products .products-container .products-content .link__line:after {
  animation: reverse-animation-line 2s forwards;
}
.products .products-container .products-content .link:not(:hover) .products .products-container .products-content .link__arrow span:after {
  animation: reverse-animation-arrow 1.5s forwards;
}

.contact-us {
  padding: 10rem 0;
}
.contact-us h2 {
  font-size: 2.4rem;
}
.contact-us .link {
  display: inline-flex;
  align-items: center;
  padding: 2rem 0.3rem;
  text-decoration: none;
  transform: rotate(-180deg);
}
.contact-us .link .divider {
  position: absolute;
  background: #191919;
  transform: rotate(90deg);
  left: 90px;
  width: 16px;
  height: 55px;
  z-index: 9;
}
.contact-us .link__arrow {
  display: inline-flex;
}
.contact-us .link__arrow span {
  position: relative;
  width: 20px;
  height: 7px;
  border-radius: 2px;
  overflow: hidden;
  z-index: 2;
}
.contact-us .link__arrow span:nth-child(1) {
  transform-origin: left bottom;
  transform: rotate(45deg) translate3d(8px, -10px, 0);
}
.contact-us .link__arrow span:nth-child(2) {
  transform-origin: left bottom;
  transform: rotate(-45deg);
}
.contact-us .link__arrow span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #f27107;
}
.contact-us .link__line {
  position: relative;
  margin-left: -23px;
  margin-right: 0;
  width: 153px;
  height: 7px;
  overflow: hidden;
  z-index: 1;
}
.contact-us .link__line:after {
  content: "";
  display: block;
  position: absolute;
  left: 80px;
  width: 94px;
  height: 2px;
  background: #f27107;
}
.contact-us .link:hover .contact-us .link__line:after {
  animation: animation-line 1.5s forwards;
}
.contact-us .link:hover .contact-us .link__arrow span:after {
  animation: animation-arrow 1.5s forwards;
  animation-delay: 0.5s;
}
.contact-us .link:not(:hover) .contact-us .link__line:after {
  animation: reverse-animation-line 2s forwards;
}
.contact-us .link:not(:hover) .contact-us .link__arrow span:after {
  animation: reverse-animation-arrow 1.5s forwards;
}

.small-arrow .link {
  display: inline-flex;
  align-items: center;
  padding: 2rem 0.3rem;
  text-decoration: none;
  transform: rotate(-180deg);
}
.small-arrow .link .divider {
  position: absolute;
  background: #191919;
  transform: rotate(90deg);
  left: 90px;
  width: 16px;
  height: 55px;
  z-index: 9;
}
.small-arrow .link__arrow {
  display: inline-flex;
}
.small-arrow .link__arrow span {
  position: relative;
  width: 22px;
  height: 8px;
  border-radius: 2px;
  overflow: hidden;
  z-index: 2;
}
.small-arrow .link__arrow span:nth-child(1) {
  transform-origin: left bottom;
  transform: rotate(45deg) translate3d(8px, -10px, 0);
}
.small-arrow .link__arrow span:nth-child(2) {
  transform-origin: left bottom;
  transform: rotate(-45deg);
}
.small-arrow .link__arrow span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #f27107;
}
.small-arrow .link__line {
  position: relative;
  margin-left: -24px;
  margin-right: 0;
  width: 153px;
  height: 7px;
  overflow: hidden;
  z-index: 1;
}
.small-arrow .link__line:after {
  content: "";
  display: block;
  position: absolute;
  left: 80px;
  width: 94px;
  height: 3px;
  background: #f27107;
}
.small-arrow .link:hover .small-arrow .link__line:after {
  animation: animation-line 1.5s forwards;
}
.small-arrow .link:hover .small-arrow .link__arrow span:after {
  animation: animation-arrow 1.5s forwards;
  animation-delay: 0.5s;
}
.small-arrow .link:not(:hover) .small-arrow .link__line:after {
  animation: reverse-animation-line 2s forwards;
}
.small-arrow .link:not(:hover) .small-arrow .link__arrow span:after {
  animation: reverse-animation-arrow 1.5s forwards;
}

footer {
  height: 500px;
  background-color: #191919;
}

.footer-logo {
  width: 15%;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.contact-map {
  width: 100%;
  height: 40rem;
}
.contact-map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-card-bg {
  background-color: #303030;
}

.business-container {
  position: relative;
  margin-top: 25rem;
  padding-top: 25rem;
  background-color: #232323;
}
.business-container h1, .business-container h2, .business-container h3, .business-container h4 {
  color: #fff;
}
.business-container p {
  color: #b3b3b3;
}
.business-container .business-container-top-img {
  position: absolute;
  width: 40vw;
  height: 80vh;
  left: 10vw;
  top: -250px;
  overflow: hidden;
}
.business-container .business-container-top-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-container {
  overflow: hidden;
}
.project-container a:hover {
  color: #fff;
}
.project-container:hover .project-container-img .text-position {
  opacity: 1 !important;
}
.project-container:hover .project-container-img img {
  transform: scale(1.1);
}
.project-container:hover .border-animation {
  animation: reduceBorder 0.3s ease-in forwards;
}
.project-container:hover .project-container-content p {
  opacity: 0.3;
}
.project-container .project-container-img {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.project-container .project-container-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.project-container .project-container-img .text-position {
  position: absolute;
  bottom: 10%;
  right: 10%;
  opacity: 0;
  transition: ease-out 0.6s;
  z-index: 1;
}
.project-container .project-container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
}
.project-container .project-container-content p {
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
.project-container .project-container-content p:hover {
  color: #fff !important;
}
.project-container .border-animation {
  width: 30%;
  border-bottom: 2px solid #f27107;
  transition: border-width 0.6s ease-in;
}

.project-container:not(:hover) .border-animation {
  animation: bringBackBorder 0.3s ease-in forwards; /* Added 'forwards' */
}

.product-carousel-img {
  width: auto;
  height: 60vh;
  margin-right: 30px;
}
.product-carousel-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-prev span {
  display: none;
}

.owl-next span {
  display: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  font-size: 50px;
}

.owl-carousel .owl-nav .owl-prev:before {
  content: "←";
  color: #f27107;
  padding-right: 25px;
}

.owl-carousel .owl-nav .owl-next:before {
  content: "→";
  color: #f27107;
}

.product-details-section {
  background-color: #e6e6e6;
  color: #000;
}

.table-container p {
  margin: 0;
  padding: 0;
}

.infinitecarousel {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  background-color: #282828;
}
.infinitecarousel ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}
.infinitecarousel ul li {
  background: var(--light-blue);
  color: var(--text-color);
  font-size: 7vw;
  padding: 10px 20px;
  border-radius: 7px;
  /* 	border: 1px outset var(--text-color); */
}

.infinitecarousel[data-animated] {
  overflow: hidden;
}

.infinitecarousel[data-animated] #list {
  width: -moz-max-content;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    translate: calc(-50% - 5px);
  }
}
.about-container {
  position: relative;
  margin-top: 25rem;
  padding-top: 35rem;
  background-color: #232323;
}
.about-container h1, .about-container h2, .about-container h3, .about-container h4 {
  color: #fff;
}
.about-container p {
  color: #b3b3b3;
}
.about-container .about-container-top-img {
  position: absolute;
  width: 40vw;
  height: 80vh;
  right: 10%;
  top: -250px;
  overflow: hidden;
}
.about-container .about-container-top-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  transform: rotate(-180deg);
}
.link .divider {
  position: absolute;
  background: #191919;
  transform: rotate(90deg);
  left: 131px;
  width: 16px;
  height: 55px;
  z-index: 9;
}
.link__arrow {
  display: inline-flex;
}
.link__arrow span {
  position: relative;
  width: 38px;
  height: 19px;
  border-radius: 2px;
  overflow: hidden;
  z-index: 2;
}
.link__arrow span:nth-child(1) {
  transform-origin: left bottom;
  transform: rotate(45deg) translate3d(8px, -10px, 0);
}
.link__arrow span:nth-child(2) {
  transform-origin: left bottom;
  transform: rotate(-45deg);
}
.link__arrow span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #f27107;
}
.link__line {
  position: relative;
  margin-left: -48px;
  margin-right: 0;
  width: 200px;
  height: 9px;
  overflow: hidden;
  z-index: 1;
}
.link__line:after {
  content: "";
  display: block;
  position: absolute;
  left: 80px;
  width: 133px;
  height: 2px;
  background: #f27107;
}
.link:hover .link__line:after {
  animation: animation-line 1.5s forwards;
}
.link:hover .link__arrow span:after {
  animation: animation-arrow 1.5s forwards;
  animation-delay: 0.5s;
}
.link:not(:hover) .link__line:after {
  animation: reverse-animation-line 2s forwards;
}
.link:not(:hover) .link__arrow span:after {
  animation: reverse-animation-arrow 1.5s forwards;
}

@keyframes animation-line {
  0% {
    left: 80px;
  }
  100% {
    left: 0;
  }
}
@keyframes animation-arrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes reverse-animation-line {
  0% {
    left: 0;
  }
  100% {
    left: 80px;
  }
}
@keyframes reverse-animation-arrow {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.msg-icn {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #fff;
  box-sizing: border-box;
  max-width: 380px;
  min-width: 80px;
  min-height: 14px;
  font-size: 20px;
}
.msg-icn::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #f27107;
  border-radius: 2px;
  box-sizing: border-box;
  -webkit-clip-path: polygon(0% 105%, 0% 0%, 105% 0%, 105% 105%, 43px 105%, 43px 80%, 21px 80%, 21px 105%);
          clip-path: polygon(0% 105%, 0% 0%, 105% 0%, 105% 105%, 43px 105%, 43px 80%, 21px 80%, 21px 105%);
}
.msg-icn::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 20px;
  background: #f27107;
  top: calc(100% - 1px);
  left: 20px;
  box-sizing: border-box;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0%, calc(100% - 2px) 0, 1px calc(100% - 2px), 1px 0);
          clip-path: polygon(0 0, 0% 100%, 100% 0%, calc(100% - 2px) 0, 1px calc(100% - 2px), 1px 0);
}

@media (max-width: 998px) {
  .overlay .closebtn {
    right: 20%;
  }
  .panel h2 {
    margin: 0;
    font-size: 148px;
    color: #fff;
    transition: 1s;
  }
  .sec-1 {
    padding-top: 200px;
    padding-bottom: 100px;
    min-height: 700px;
  }
  .sec-1 h2 {
    font-size: 50px;
  }
  .sec-1 .right-section p {
    font-size: 12px;
    width: 35%;
  }
  .sec-1 .image-section {
    left: 46%;
    bottom: 40px;
    width: 50%;
  }
  .sec-2 h3 {
    font-size: 35px;
    position: relative;
    line-height: 1.3;
    color: #e6e6e6;
    font-weight: 400;
  }
  .sec-2 .pb-5 {
    padding-bottom: 1rem !important;
  }
  .sec-2 .register-section-img {
    width: 100%;
    height: 20rem;
  }
  .industries-we-serve {
    position: relative;
  }
  .industries-we-serve .svg-position {
    height: 250px;
  }
  .industries-we-serve .industries-we-serve-hover .industries-we-serve-image {
    height: 250px;
  }
  .industries-we-serve .industries-we-serve-hover .industries-we-serve-content .text-hover {
    font-size: 25px;
  }
  .products .products-container {
    height: 250px;
  }
  .products h2 {
    font-size: 2rem;
  }
  .products p {
    font-size: 12px;
  }
  .contact-us h2 {
    font-size: 2rem;
  }
  .contact-us h5 {
    font-size: 1rem;
  }
  .contact-map {
    width: 100%;
    height: 20rem;
  }
  .link {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    transform: rotate(-180deg);
  }
  .link .divider {
    position: absolute;
    background: #191919;
    transform: rotate(90deg);
    left: 131px;
    width: 16px;
    height: 55px;
    z-index: 9;
  }
  .link__arrow {
    display: inline-flex;
  }
  .link__arrow span {
    position: relative;
    width: 38px;
    height: 19px;
    border-radius: 2px;
    overflow: hidden;
    z-index: 2;
  }
  .link__arrow span:nth-child(1) {
    transform-origin: left bottom;
    transform: rotate(45deg) translate3d(8px, -10px, 0);
  }
  .link__arrow span:nth-child(2) {
    transform-origin: left bottom;
    transform: rotate(-45deg);
  }
  .link__arrow span:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: #f27107;
  }
  .link__line {
    position: relative;
    margin-left: -48px;
    margin-right: 0;
    width: 145px;
    height: 9px;
    overflow: hidden;
    z-index: 1;
  }
  .link__line:after {
    content: "";
    display: block;
    position: absolute;
    left: 80px;
    width: 133px;
    height: 2px;
    background: #f27107;
  }
  .link:hover .link__line:after {
    animation: animation-line 1.5s forwards;
  }
  .link:hover .link__arrow span:after {
    animation: animation-arrow 1.5s forwards;
    animation-delay: 0.5s;
  }
  .link:not(:hover) .link__line:after {
    animation: reverse-animation-line 2s forwards;
  }
  .link:not(:hover) .link__arrow span:after {
    animation: reverse-animation-arrow 1.5s forwards;
  }
  .business-container {
    margin-top: 10rem;
    padding-top: 10rem;
  }
  .business-container .business-container-top-img {
    width: 50vw;
    height: 40vh;
    left: auto;
    right: 10%;
    top: -120px;
  }
  .about-container {
    margin-top: 10rem;
    padding-top: 10rem;
  }
  .about-container .about-container-top-img {
    position: absolute;
    width: 50vw;
    height: 40vh;
    right: 10%;
    top: -120px;
  }
  footer .footer-logo {
    width: 35%;
  }
  .reverse-column {
    flex-direction: column-reverse !important;
  }
  .project-container {
    height: 100vh;
    overflow: hidden;
  }
  .project-container .project-container-img {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  .project-container .project-container-img .text-position {
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: 0;
    transition: ease-out 0.6s;
    z-index: 1;
  }
  .project-container .project-container-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 1s;
  }
  .project-container .project-container-content {
    padding-left: 0 !important;
    padding-top: 15px;
  }
  .project-container .border-animation {
    width: 30%;
    border-bottom: 2px solid #f27107;
    transition: border-width 0.6s ease-in;
  }
  .about-carousel-animation {
    height: 70vh !important;
  }
  .infinitecarousel {
    margin-bottom: 2rem;
  }
}
@media (max-width: 573px) {
  .reverse-column {
    flex-direction: column-reverse !important;
  }
  .overlay-content {
    position: relative;
    background-color: #ccc;
    padding-top: 130px;
    width: 100% !important;
    width: 70%;
    padding-left: 10%;
    text-align: left;
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 90%;
  }
  .panel h2 {
    font-size: 17vw;
  }
  .sec-1 {
    padding-top: 85px;
    min-height: 850px;
  }
  .sec-1 h2 {
    font-size: 50px;
  }
  .sec-1 .right-section {
    width: 100%;
    position: relative;
  }
  .sec-1 .right-section p {
    width: 100%;
  }
  .sec-1 .image-section {
    left: 50%;
    bottom: 53px;
    width: 65%;
  }
  .sec-2 h3 {
    font-size: 30px;
    position: relative;
    padding-bottom: 0 !important;
    line-height: 1.3;
    font-weight: 400;
  }
  .sec-2 .f-size {
    font-size: 15px;
  }
  .sec-2 .register-section-img {
    width: 100%;
    height: 10rem;
    overflow: hidden;
  }
  .sec-2 .register-section-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .industries-we-serve {
    position: relative;
    height: 100vh !important;
  }
  .industries-we-serve .svg-position {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 10%;
    left: 0;
    z-index: 999;
    transition: 1s;
  }
  .industries-we-serve .svg-position::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.6);
    z-index: 1;
  }
  .industries-we-serve .industries-we-serve-hover {
    overflow: visible;
  }
  .industries-we-serve .industries-we-serve-hover:hover .industries-we-serve-image img {
    opacity: 1 !important;
    transform: scale(1.1);
  }
  .industries-we-serve .industries-we-serve-hover .industries-we-serve-image {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 10%;
    left: 0;
    transition: 1s;
    z-index: 9;
  }
  .industries-we-serve .industries-we-serve-hover .industries-we-serve-image img {
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s ease;
  }
  .industries-we-serve .industries-we-serve-hover .industries-we-serve-content {
    position: relative;
    top: 300px;
    padding-left: 5%;
  }
  .industries-we-serve .industries-we-serve-hover .industries-we-serve-content .list-size {
    font-size: 18px;
    line-height: 1.5em;
  }
  .industries-we-serve .industries-we-serve-hover .industries-we-serve-content .text-hover {
    font-size: 25px;
    line-height: 1em;
  }
  .industries-we-serve .industries-we-serve-hover .industries-we-serve-content .text-hover:hover {
    color: #f27107;
  }
  .products .products-container {
    height: 240px;
  }
  .contact-map {
    width: 100%;
    height: 12rem;
  }
  .business-container .business-container-top-img {
    width: 80%;
  }
  .about-container {
    margin-top: 10rem;
    padding-top: 10rem;
  }
  .about-container .about-container-top-img {
    width: 80%;
    height: 40vh;
    right: 10%;
    top: -120px;
  }
  footer {
    background-position: 50%;
    background-size: cover;
  }
  footer .footer-logo {
    width: 50%;
  }
  .about-carousel-animation {
    height: 70vh !important;
  }
  .infinitecarousel {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    margin-bottom: 2rem;
    background-color: #282828;
  }
  .infinitecarousel ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
  }
  .infinitecarousel ul li {
    background: var(--light-blue);
    color: var(--text-color);
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 7px;
    /* 	border: 1px outset var(--text-color); */
  }
  .project-container {
    height: 100vh;
    overflow: hidden;
  }
  .project-container .project-container-img {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  .project-container .project-container-img .text-position {
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: 0;
    transition: ease-out 0.6s;
    z-index: 1;
  }
  .project-container .project-container-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 1s;
  }
  .project-container .project-container-content {
    padding-left: 0 !important;
    padding-top: 15px;
  }
  .project-container .border-animation {
    width: 30%;
    border-bottom: 2px solid #f27107;
    transition: border-width 0.6s ease-in;
  }
  .contact-us {
    padding: 4rem 0;
  }
}/*# sourceMappingURL=main.css.map */